/** REWRITE TO USE SCSS !!!*/

@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Nunito', sans-serif;

}

.text-center {
  text-align: center;
}

h1 {
  font-size: 1.52em;
  margin-top: 30px;
}

h2 {
  font-size: 1.05em;
  font-weight: bold;
}


/** Background */
#cover-section {
  background: #696969 url("../img/pixabayCC0/of-1078412_1280.jpg") no-repeat 50% 40%;;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  min-height: 500px;
}

/** Navbar */

.nav-container{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.navbar {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.0);
  margin-top: 10px;
  padding: 9px 15px;
  white-space: nowrap;
  border-radius: 15px;

}



.navbar-brand {
  padding: 0;
  margin: 0 10px 0 0;

}

.navbar-brand img {
  width: auto;
  height: 36px;
  padding:2px;
  position: relative;
  top: 3px;
}

.navbar-nav {
  display: inline;

}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: rgb(215,215,215);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
  font-size: 24px;
  padding:2px;
  margin: 0 5px;
}

.navbar-dark .navbar-nav .nav-link:hover,
#nav-result:hover {
  color: rgb(255,255,255);
  transform: scale(1.3);
  transition: all .4s ease-in-out;
}

#cover-arrow-down {
  color: rgba(0,0,0,0.6);
}

#cover-arrow-down:hover {
  color: rgba(255,255,255,0.6);
  transform: scale(1.4);
  transition: all .4s ease-in-out;
}

/** Game */


#game-section {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  margin: auto;
  z-index: 1;
}

#game-wrapper {
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  border-radius: 15px;
  padding: 10px;
}

#cover-arrow-wraper {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  margin: auto;
}

@media only screen and (max-height: 500px) {

  #cover-arrow-wraper {
    display: none;
    }

}

#game-wrapper {
  color: rgb(255,255,255);
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

#game-wrapper h1 {
  padding: 10px;
  font-size: 2.05em;
}

#game-wrapper p {
  padding: 5px;
  font-size: 1.75em;
}

#game-wrapper button {
  background-color: rgba(0,0,0,0.7);
  text-transform: uppercase;
  color: #fff;
  border: rgba(255,255,255,0.7) solid 1px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  text-shadow: 0px 0px 2px rgba(255,255,255,0.1);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#game-wrapper input {
  color: #000;
  border: #000 solid 1px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 1.4em;
  width: 85px;
  text-align: center;
}

#game-wrapper button:hover {
  background-color: rgba(255,255,255,0.7);
  color: #000;
  border: rgba(0,0,0,0.7) solid 1px;
  transform: scale(1.2);
  text-shadow: 0px 0px 2px rgba(0,0,0,0.1);
  transition: all .4s ease-in-out;
}

.abouth2 {
  display: inline-block;
  min-width: 142px;
  margin-left: -142px;
}

.indent-second-about {
  margin-left: 142px;
  margin-top: 10px;
}


#results-section a,
#about-section a,
#results-section a:visited,
#about-section a:visited,
#results-section a:active,
#about-section a:active
 {
  color: rgb(80,80,80);
  text-decoration: none;
}

#results-section a:hover,
#about-section a:hover
 {
  color: rgb(0,0,0);
  text-decoration: underline;
}

/* Footer */

.footer-social {
  margin: 0;
  padding-top: 5px;
  font-size: 1.08em;
}

.footer-social a {
  margin: 0 3%;
}

.footer-cc-note {
  margin: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding-top: 8px;
  font-size: 0.65em;
}

#main-footer a,
#main-footer i,
#main-footer a:visited,
#main-footer a:active {
  color: rgb(215,215,215);
  text-decoration: none;
}

#main-footer i:hover {
  color: #fff;
  transform: scale(1.4);
  transition: all .4s ease-in-out;
}

/** Hidden on load */
#nav-result {
  display: none;
}

#results-section {
  margin:auto;
  max-width: 900px;
  line-height: 2.1;
  font-size: 1.185em;
  display: none;
  color: #000;
  padding: 30px 50px;
  transform: translateY(-500%);
  -webkit-transform: translateY(-500%);
  text-align: justify;
}

#about-section {
  margin:auto;
  max-width: 900px;
  line-height: 2.1;
  font-size: 1.185em;
  display: none;
  color: #000;
  padding: 30px 50px;
  transform: translateY(-800%);
  -webkit-transform: translateY(-800%);
  text-align: justify;
}

#main-footer {
  display: none;
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  transform: translateY(-2500%);
  -webkit-transform: translateY(-2500%);
}

@media only screen and (max-width: 768px) {

  .nav-container{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.95);
    float: right;
    margin-right: 20px;
    max-width: 205px;
    border: rgba(255, 255, 255, 0.9) solid 1px;
  }

  .navbar-toggler {
    float: right;
    clear: none;
  }

  .nav-item {
    margin-right: 50px;
  }

  .navbar-brand {
    display: none !important;
  }

  #game-wrapper button {
    display: block;
    margin: 10px auto;
  }

  .indent-second-about {
    margin-left: 0;
  }

  .indent-second-about h2{
    margin-left: 0;
    margin-right: 10px;
    display: inline;
    min-width: 0;
  }

  #results-section,
  #about-section {
    line-height: 1.7;
  }

}

/** Animations */
@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}
